#app
{
    text-align: center;
}

#goal-hours-input
{
    margin-top: 2%;
}

.semester-title-input
{
    width: 85%;

    margin-top: 10px;
    margin-bottom: 10px;

    vertical-align: middle;
}

.semester-editor
{
    width: 35%;
    min-width: 600px;

    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
}

th
{
    font-size: 22px;
    color: #121267;

    border-bottom: 1px solid #121267;
}

td:first-child
{
    border-right: 1px solid #121267;
}

.semester-table
{
    width: 100%;

    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;

    border-collapse: collapse;
}

.semester-editor-inputs
{
    font-size: 16px;

    margin-top: 15px;
    margin-bottom: 15px;
}

.add-row-button
{
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.add-row-button-icon
{
    width: 50px;
    height: 50px;

    margin-top: 10px;
}

.remove-semester-button
{
    vertical-align: middle;
}

.remove-semester-button-icon
{
    width: 45px;
    height: 45px;
}