#stat-card
{
    display: grid;

    width: 50%;

    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
}

.stat-caption
{
    font-size: 20px;
}

.stat-body
{
    font-size: 55px;
    font-weight: bold;
    color: #121267;
}

#total-hours-div
{
    grid-column: 1;
}

#goal-hours-div
{
    grid-column: 2;
}